body {
    background-color: #F7F3F2;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.post-link,
.page-link {
    text-decoration: none;
    color: #223021;
}

.post-link:hover,
.page-link:hover {
    color: #364631;
}

.footer-bg {
    background-color: #364631;
    color: #F7F3F2;
    position: absolute;
    bottom: 0;
    width: 100%;
}