body {
    background-color: #F7F3F2;
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
}

/* ----------------------------------- Image header */
.image-header {
    height: 55vh;
    background: url("../images/pexels-taryn-elliott-4909104.jpg") no-repeat bottom right fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: #F7F3F2;
    margin-top: 20px;
}

/* ----------------------------------- Recipe cards */
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

/* ----------------------------------- Page links */
.post-link,
.page-link {
    text-decoration: none;
    color: #223021;
}

.post-link:hover,
.page-link:hover {
    color: #4E6547;
    transition: 0.3s ease;
}

/* ----------------------------------- Footer */
.footer-bg {
    background-color: #364631;
    color: #F7F3F2;
    width: 100%;
}

#socialmedia {
    text-decoration: none;
    text-align: center;
}

#socialmedia li {
    display: inline;
    color: #F7F3F2;
}

#socialmedia i.fa-instagram,
i.fa-utensils {
    color: #F7F3F2;
    margin: 1%;
    font-size: 20px;
}

#socialmedia i.fa-instagram:hover {
    color: #4E6547;
}

#socialmedia i.fa-utensils:hover {
    color: #4E6547;
}