{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<!-- The recipe name and picture should go in the image-header and change for each post-->
<!-- Behöver fixa så att det ser bra ut även på mobil -->
<div class="container">
    <div class="row">
        <div class="col-8 card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text">
                    <!-- Recipe text goes in here -->
                    {{ post.content | safe }}
                </p>

                <!-- Number of likes and comments goes here-->
                <!-- Behöver se över hur likes/comments ser ut vid mindre skärm -->
                <div class="row">
                    <div class="col-2">
                        <i class="fa-regular fa-heart"></i>{{ post.number_of_likes }}
                    </div>
                    <div class="col-2">
                        {% with comments.count as total_comments %}
                        <i class="fa-regular fa-comment"></i>{{ post.number_of_comments }}
                        {{ total_comments }}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments goes here -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h5 style="padding: 16px;">Comments:</h5>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments">
                    <p style="font-weight: 500;">
                        {{ comment.name }}
                        <span class="text-muted font-weight-bold">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Comment form -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval.
                </div>
                {% else %}

                {% if user.is_authenticated %}
                <h5>Leave a comment:</h5>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signin">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}